<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display</title>
</head>

<body>
    <h1 align="center">Student detail</h1>
    <table border="1" align="center" cellspacing="10" cellpadding="10">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th>Nothing</th>
        </tr>
        {%for st in students%}
        <tr>
            <td>{{st.id}}</td>
            <td>{{st.name}}</td>
            <td>{{st.email}}</td>
            <td>{{st.age}}</td>
            <td><a href="{%url 'delete'%}?id={{st.id}}">Delete</a></td>
            <td><a href="">Edit</a></td>

        </tr>
        {%endfor%}

    </table>
    <a href="{%url 'index'%}">Back</a>
</body>

</html>