<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
</head>

<body>

    <form action="{%url 'register' %}" method="post">
        {% csrf_token %}
        <h1>Welcome to registration page</h1>
        <br>
        <span>{{message}}</span>
        <br>

        <input type="text" name="name" placeholder="Enter your name">
        <input type="text" name="email" placeholder="Enter your email">
        <input type="text" name="age" placeholder="Enter your age">
        <input type="submit" value="submit">
    </form>
    <a href="{%url 'display'%}">View data</a>
</body>

</html>