<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Hi
        <br> {{user}}!
    </h1>
    <a href="{%url 'logout'%}">Logout</a>
    {%csrf_token%}
    <table align="center" border="2">
        <tr>
            <th>id</th>
            <th>username</th>
            <th>password</th>
            <th colspan="2">Action</th>
        </tr>
        {% for us in users%}
        <tr>
            <td>{{us.id}}</td>
            <td>{{us.username}}</td>
            <td>{{us.password}}</td>

        </tr>
        {%endfor%}

    </table>
</body>

</html>