<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 align="center">Employee table </h1>
    <form action="" align="center">
        <input type="text" placeholder="Enter your name "><br><br>
        <input type="text" placeholder="Enter your email "><br><br>
        <input type="text" placeholder="Enter your age "><br><br>
        <input type="text" placeholder="Enter your salary "><br><br>
        <input type="text" placeholder="Enter your depratement "><br><br>
        <input type="submit">
    </form>
</body>

</html>