<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1 align="center">data</h1>
    <table align="center" border="1" cellspacing="10" cellpadding="5">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Age</th>
            <th colspan="2">Action</th>
            <th>Image</th>
        </tr>
        {% for st in students%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{st.name}}</td>
            <td>{{st.email}}</td>
            <td>{{st.age}}</td>
            <td><a href="{%url 'delete'%}?id={{st.id}}">Delete</a></td>
            <td><a href="{%url 'edit'%}?id={{st.id}}">Edit</a></td>
            <td><img src="/media/{{st.image}}" alt="pl" height="50" width="50"></td>

        </tr>
        {%endfor%}

    </table>

    <a href="{%url 'index'%}">For registration</a>
</body>

</html>