<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>display</title>
</head>

<body>
    <h1 align="center">Product data</h1>
    <table align="center" border="1" cellspacing="10" cellpading="10">
        <tr>
            <th>Id</th>
            <th>categeory</th>
            <th>Product name</th>
            <th>Product catageory</th>
            <th>Product price</th>
            <th>Image</th>
            <th colspan="2">Action</th>

        </tr>
        {%for pt in products%}
        <tr>
            <td>{{forloop.counter}}</td>
            <td>{{pt.catt}}</td>
            <td>{{pt.name}}</td>
            <td>{{pt.cat}}</td>
            <td>{{pt.price}}</td>
            <td><img src="/media/{{pt.photo}}" alt="pl" height="50" width="50"></td>

            <td><a href="{%url 'edit'%}?id={{pt.id}}">Edit</a></td>
            <td><a href="{%url 'delete'%}?id={{pt.id}}">Delete</a></td>
        </tr>
        {%endfor%}
    </table>
    <h3 align="center"><a href="{%url 'index'%}">Back to home</a></h3>
</body>

</html>p