<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <form action="{%url 'reg'%} " method="post">
        <h1>Registration</h1>
        {% csrf_token %}
        <br><br>
        <span>{{msg}}</span>
        <br><br>
        <input type="text" placeholder="Enter name" name="name" value="{{si.name}}">
        <br><br>
        <input type="text" placeholder="Enter email" name="email" value="{{si.email}}">
        <br><br>
        <input type="text" placeholder="Enter phone" name="phone" value="{{si.phone}}">
        <br><br>
        <input type="submit">
        <br><br>
        <a href="{%url 'display'%}">For data</a>
    </form>
</body>

</html>